body {
	font-family: 'Segoe UI', sans-serif;
	min-width: 960px;
}
.inner {
	width: 960px;
	margin: 0 auto;
}
.content {
	max-width: 1290px;
	min-width: 960px;
	margin: 0 auto;
	text-align: center;
	font-size: 0;
}
.clear {
	width: 100%;
	height: 0;
	clear: both;
}
a {
	color: #222222;
	text-decoration: none;
	transition: color 0.3s;
}
a:hover {
	color: #0099CC;
}
/************************
structure:
	- HEADER
	- .SLIDER
	- .CONTENT
	- .INFORMATION
	- FOOTER
*************************/
/**FOR HEADER**/
header {
	height: 450px;
	background: url('../images/header-bg.jpg') no-repeat center bottom;
	margin-bottom: 10px;
}
.top {
	background-color: #FFFFFF;
	padding-top: 50px;
	padding-bottom: 10px;
}
.top .inner {
	position: relative;
}
.top h1 {
	display: inline-block;
	color: #3AB7FF;
	font-size: 42px;
	font-weight: bold;
}
.top ul {
	position: absolute;
	right: 0;
	bottom: 20px;
}
.top li {
	display: inline-block;
	padding-left: 40px;
}

.invert-color {
	display: inline-block;
	padding: 3px 10px 8px 10px;
	font-size: 14px;
	background-color: #222222;
	color: #FFFFFF;
	margin-bottom: 45px;
}
nav {
	position: relative;
	height: 100px;
	background: #15A7FF;
	background: linear-gradient(to bottom, #15A7FF, #37C1FF);
	border-radius: 0 12px 12px 12px;
	margin-bottom: 45px;
}
nav ul {
	padding-top: 25px;
	font-size: 0;
}
nav li {
	display: inline-block;
	height: 45px;
	width: 135px;
	padding-top: 5px;
	padding-left: 30px;
	background: url('../images/ugolok.png') no-repeat 0 0;
	position: relative;
}
nav li .active {
	opacity: 0;
	height: 8px;
	width: 165px;
	position: absolute;
	left: 0px;
	top: -25px;
	background: url('../images/li-active.png') no-repeat 0 0;
}
nav li:hover .active {
	opacity: 1;
}
nav li a, nav li a:hover {
	color: #FFFFFF;
	font-size: 18px;
}
nav li a .smaller {
	font-size: 14px;
}
nav #search {
	position: absolute;
	right: 50px;
	top: 35px;
	height: 30px;
	width: 200px;
	font-size: 18px;
	font-weight: lighter;
}
nav .serch-button {
	position: absolute;
	display: inline-block;
	right: 20px;
	top: 35px;
	height: 30px;
	width: 30px;
	background: url('../images/search-button.png');
}
.callback {
	width: 820px;
	height: 100px;
	margin: 0 auto;
	background: rgba(255, 255, 255, 0.75);
	font-weight: lighter;
	padding-left: 25px;
	position: relative;
}
.callback input {
	height: 50px;
	width: 250px;
	margin-right: 8px;
	padding-left: 13px;
	color: #313131;
	margin-top: 25px;
}
.callback a {
	position: absolute;
	display: inline-block;
	right: 20px;
	top: 20px;
	width: 248px;
	height: 62px;
	display: inline-block;
	color: #FFFFFF;
	/*padding: 20px 45px;*/
	line-height: 62px;
	text-align: center;
	vertical-align: middle;
	font-size: 22px;
	background-color: #0099FF;
	transition: opacity 0.3s;
	-webkit-appearance: none;
}
.callback a:hover {
	opacity: 0.75;
}
/**FOR SLIDER**/
.slider {
	background: linear-gradient(to bottom, #F1F1F1, #FFFFFF);
	padding-top: 70px;
	margin-bottom: 110px;
}
.about {
	width: 840px;
	margin: 0 auto;
	font-size: 22px;
	text-align: center;
	font-weight: lighter;
	margin-bottom: 60px;
}
.headline {
	font-size: 42px;
	text-align: center;
	font-weight: lighter;
	color: #222222;
	margin-bottom: 50px;
}
.blue-text {
	color: #3AB7FD;
}
.slider-inner {
	max-width: 1900px;
	min-width: 960px;
	/*width: 960px;*/
	height: 580px;
	margin: 0 auto;
	position: relative;
	overflow: auto;
}
	.sliders {
		width: 2106px;
		height: 500px;
		position: absolute;
		overflow: hidden;
	}
	.sliders .slide {
		width: 700px;
		height: 500px;
		float: left;
		margin-right: 2px;
	}
	.slider-element {
		display: inline-block;
		margin-bottom: 2px;
		height: 248px;
		overflow: hidden;
		position: relative;
	}
	.slider-element img {
		width: 100%;
	}
		.big {
			width: 698px;
		}
		.little {
			width: 347px;
		}
	.anounce {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		position: absolute;
		top: 173px;
		left: 0;
		height: 248px;
		/*height: 75px;*/
		width: 100%;
		background: url('../images/anounce-pic.png') no-repeat 15px 25px;
		background-color: rgba(51, 153, 255, 0.75);
		padding: 20px 25px 0 50px;
		color: #FFFFFF;
		font-size: 16px;
		transition: top 0.2s, background-color 0.2s;
	}
	.anounce p {
		margin-bottom: 40px;
		
	}
	.slider-element:hover .anounce {
		top: 0;
		background-color: rgba(34, 34, 34, 0.75);
	}
/**FOR CONTENT**/
.socials {
	display: inline-block;
	width: 400px;
	height: 40px;
	padding-left: 110px;
}
.content .inner::after {
	margin-bottom: 55px;
}
.articles-column {
	display: inline-block;
	vertical-align: top;
	width: 300px;
	margin-right: 30px;
}
.articles-column.fourth {
	margin-right: 0;
}
/*Красивость - убираем 4 колонку на планшетах*/
@media screen and (max-width: 1290px){
	.articles-column.fourth {
		display: none;
	}
	.articles-column.third {
		margin-right: 0;
	}
}
/*Красивость закончилась*/
	.articles-column article {
		margin-bottom: 80px;
	}
	.articles-column figure {
		margin-bottom: 10px;
		position: relative;
	}
	.articles-column figure img {
		width: 100%;
	}
	.articles-column figure .figure-label {
		position: absolute;
		left: 0;
		bottom: 0;
		font-size: 14px;
		color: #FFFFFF;
		padding: 10px 10px;
		background-color: #FF654C;
		transition: background-color 0.3s;
	}
	.articles-column figure:hover .figure-label {
		background-color: #0099FF;
	}
	.articles-column p {
		font-size: 18px;
		color: #222222;
		text-align: left;
	}
.archive {
	width: 350px;
	height: 90px;
	display: block;
	text-align: center;
	line-height: 90px;
	vertical-align: middle;
	margin: 0 auto;
	color: #FFFFFF;
	font-size: 32px;
	background-color: #FF654C;
	transition: opacity 0.3s;
	border-radius: 10px 10px 0 10px;
	margin-bottom: 70px;
}
.archive:hover {
	color: #FFFFFF;
	opacity: 0.75;
}
/**FOR .INFORMATION **/
.information {
	height: 120px;
	background-color: #F7F7F7;
	font-size: 24px;
	font-weight: lighter;
}
	.information  .inner {
		position: relative;
	}
	.information span{
		display: inline-block;
		vertical-align: top;
		padding-top: 35px;
	}
	.information span > strong {
		font-size: 18px;
	}
	.information a {
		display: block;
		position: absolute;
		right: 0;
		top: 30px;
		width: 250px;
		height: 60px;
		line-height: 60px;
		text-align: center;
		vertical-align: middle;
		color: #FFFFFF;
		background-color: #0099FF;
		transition: opacity 0.3s;
	}
	.information a:hover {
		color: #FFFFFF;
		opacity: 0.75;
	}
/** FOR FOOTER **/
.links {
	height: 215px;
	border-bottom: 1px solid #F0F0F0;
	padding: 50px 0;
	position: relative;
}
.links-column {
	width: 300px;
	display: inline-block;
	vertical-align: top;
}
	.links-column  h2 {
		margin-bottom: 10px;
		font-size: 18px;
	}
	.links-column li {
		line-height: 22px;
		font-size: 14px;
		font-weight: lighter;
	}
.bottom-socials {
	position: absolute;
	right: 50px;
	bottom: 45px;
}
	.bottom-socials a {
		display: inline-block;
		height: 25px;
		width: 25px;
		border-radius: 100px;
		transition: opacity 0.3s;
	}
	.bottom-socials a:hover {
		opacity: 0.75;
	}
		.bottom-socials .bottom-fb {
			background: url('../images/bottom-fb.png') no-repeat 0 0;
		}
		.bottom-socials .bottom-tw {
			background: url('../images/bottom-tw.png') no-repeat 0 0;
		}